{
  "root": true,
  "ignorePatterns": ["**/*"],
  "plugins": ["@nrwl/nx"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "extends": ["plugin:react/recommended"],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "project": "./tsconfig.*?.json"
      },
      "plugins": ["react"],
      "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@nrwl/nx/enforce-module-boundaries": [
          "error",
          {
            "enforceBuildableLibDependency": true,
            "allow": [],
            "depConstraints": [
              {
                "sourceTag": "*",
                "onlyDependOnLibsWithTags": ["*"]
              }
            ]
          }
        ],
        "react/prefer-stateless-function": "error",
        "react/prop-types": "off",
        "id-length": ["error", { "exceptions": ["i", "_", "s"] }],
        "react/jsx-no-useless-fragment": "off",
        "newline-before-return": "warn"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@nrwl/nx/typescript"],
      "parserOptions": {
        "project": "./tsconfig.*?.json"
      },
      "rules": {}
    },
    {
      "files": ["*.js", "*.jsx"],
      "extends": ["plugin:@nrwl/nx/javascript"],
      "rules": {}
    }
  ]
}
