{
  "rules": {
    "no-empty-function": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "extends": ["plugin:@nrwl/nx/react", "../../.eslintrc"],
  "ignorePatterns": ["!**/*"]
}
